.label {
    font-size: 10px;
    padding: 2px 5px;
    background: #ffffff;
    width: 100px;
    max-width: 100px;
    text-align: center;
}

.coordinate-label {
    width: 10px;
    font-size: 10px;
    background: rgba(0, 0, 0, 0);
    border-style: none;
}

.ambulance-label {
    font-size: 10px;
    background: #ffffff;
}
